
//mau
$color-title-sp:#333;
$color-item-sp:#335;
$color-gia-sp:#e10c00;
$color-tt-tomtat-sp:#ff9600;
$color-tomtat-sp:#666;
$color-menu:#000;
$color-bg-nut-sp:#fe0000;
$color-bg-header:#fed700;
$color-bg-item-sp:#f7f4f4;

//kieu chu
$font-chu-title-f:tahoma;
$font-chu-dam-w:700;
$font-chu-nhat-w:100;

//kich thuoc chu
$size-chu-h1:24px;
$size-chu-h2:22px;
$size-chu-h3:20px;
$size-chu-h4:19px;
$size-chu-h5:18px;
$size-chu-h6:17px;
$size-chu-h7:16px;
$size-chu-h8:14px;
$size-chu-h9:13px;
$size-chu-h10:12px;
$size-chu-h11:11px;
$size-chu-h12:10px;



//padding-margin
$margin-item-sp:10px;


//nut



//kich thuoc khoi
$size-menu-h:55px;
$size-menu-w:100%;
$size-khoi-tp-w:100%;
// $size-body:1140px;
// $width-item-sp:200px;